body {
    margin: 0;
    background-color: rgb(161, 209, 193);
}
.main-game{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius{
    display: grid;
    grid-template-areas: 'verde vermelho'
    'amarelo azul';
    grid-gap: 10px;
    border: 1px solid white;
    background-color: white;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.blue {
    grid-area: azul;
    background-color: rgb(27, 34, 128);
    border-bottom-right-radius: 100%;
}
.yellow {
    grid-area: amarelo;
    background-color: rgb(224, 197, 45);
    border-bottom-left-radius: 100%;
}
.red {
    grid-area: vermelho;
    background-color: rgb(175, 22, 22);
    border-top-right-radius: 100%;
}
.green {
    grid-area: verde;
    background-color: rgb(52, 107, 52);
    border-top-left-radius: 100%;
}

.selected{
    opacity: 0.4;
}
.pontos{
    padding-left: 10px;
    font-family: Verdana;
    font-size: larger;
}
